<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="home.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .main {
            float: left;
            padding: 0 20px;
        }

        .mylink {
            font-size: 1.5vw;
            margin: 3%;
            font-weight: 600;
        }
    </style>
    <title>TJ Jacobs | About</title>
</head>

<body style="font-family:system-ui; border: solid 6px;
padding: .4%;
border-color: blue green gold red;">
    <h2 style="font-size:3vw;background-color: gainsboro;padding: 2%;"><a class="navitem" href="../index.html">Home</a><a class="navitem"
            style="font-size:3vw;margin-left: 5%;" href="./reference.html">References</a> <a class="navitem"
            style="font-size:3vw;margin-left: 5%;" href="mailto: tjnjacobs1@gmail.com">Email me</a> <a class="navitem"
            style="font-size:3vw;margin-left: 5%;" href="tel:0791240676">Call
            me</a></h2>

    <div style="background-color: rgb(181, 233, 244); margin-top: -15px;">
        <div style="padding: 2%;">
            <div>
                <h2 style="font-size:3vw;text-align: center;">HOBBIES</h2>
                <hr>
                <div style="text-align: center; padding-left: 7%; padding-right: 7%;">
                    <h3 style="font-size:2vw;">fly fishing</h3>
                    <p style="font-size:1.4vw; font-weight: 500;">
                        My go-to hobby is fly fishing. Nothing makes me happier than
                        being on the flats with small waves crashing peacefully and
                        having my fly rod in hand. I enjoy guiding,
                        deckhand and skipper work.
                    </p>
                </div>

                <div style="text-align: center; padding-left: 7%; padding-right: 7%; padding-top: 2%;">
                    <h3 style=" font-size:2vw;">Hand crafting</h3>
                    <p style="font-size:1.4vw; font-weight: 500;">
                        I take interest in wood work and I build my
                        own split cane fly rods. I enjoy welding and
                        machining/fabricating precision parts.
                    </p>
                </div>

                <div style="text-align: center; padding-left: 7%; padding-right: 7%; padding-top: 2%;">
                    <h3 style=" font-size:2vw;">Film making</h3>
                    <p style="font-size:1.4vw; font-weight: 500;">
                        On any adventure I make good efforts to record my experience. I make amateur
                        films for the <a target="_blank" href="https://www.zyc.co.za/">Zululand Yacht Club</a> based on
                        sailing and community development.
                        <br>Here is a link to my <a target="_blank"
                            href="https://youtube.com/channel/UCvLERCg76Si9EVR_eTS80cg">Youtube videos</a> and <a
                            target="_blank" href="https://www.facebook.com/tj.jacobs.754/">Facebook account</a>.
                    </p>
                </div>
            </div>

            <div>
                <hr style="margin-top: 5%;">
                <h2 style="font-size:3vw;text-align: center;">STRONG POINTS</h2>
                <hr>
                <div style="text-align: center; padding-left: 7%; padding-right: 7%; padding-top: 2%;">
                    <h3 style=" font-size:2vw;">Honesty</h3>
                    <p style="font-size:1.4vw; font-weight: 500;">
                        I trust the people I surround myself with and stay
                        true to them to the best of my capabilities
                    </p>
                </div>

                <div style="text-align: center; padding-left: 7%; padding-right: 7%; padding-top: 2%;">
                    <h3 style=" font-size:2vw;">Work ethic</h3>
                    <p style="font-size:1.4vw; font-weight: 500;">
                        I execute my work responsibilities
                        with a smile and go the extra mile to
                        satisfy expectations
                    </p>
                </div>

                <div style="text-align: center; padding-left: 7%; padding-right: 7%; padding-top: 2%;">
                    <h3 style=" font-size:2vw;">Presentation</h3>
                    <p style="font-size:1.4vw; font-weight: 500;">
                        I do not drink alcohol or smoke. I have a clean record and I don't use drugs.
                        My physical appearance is always well presentable and formal to the extent of requirements.
                    </p>
                </div>
            </div>

            <div>
                <hr style="margin-top: 5%;">
                <h2 style="font-size:3vw;text-align: center;">GOALS</h2>
                <hr>
                <div style="text-align: center; padding-left: 7%; padding-right: 7%; padding-top: 2%;">
                    <h3 style=" font-size:2vw;">Long term</h3>
                    <p style="font-size:1.4vw; font-weight: 500;">
                        Within the next 20 years of my life I want to build a lodge from the ground up. It will be a
                        bucket-list destination in the fly-fishing industry.
                    </p>
                </div>

                <div style="text-align: center; padding-left: 7%; padding-right: 7%; padding-top: 2%;">
                    <h3 style=" font-size:2vw;">Short term</h3>
                    <p style="font-size:1.4vw; font-weight: 500;">
                        Within the next 5 years I aim to secure a permanent position in the tourism industry. This will
                        aid my long-term goal with ample amounts of experience and newly opened doors around the world.
                    </p>
                </div>

                <div style="text-align: center; padding-left: 7%; padding-right: 7%; padding-top: 2%;">
                    <h3 style=" font-size:2vw;">Where do I see myself in 5 years ?</h3>
                    <p style="font-size:1.4vw; font-weight: 500;">
                        On a skiff launched from a mother ship / super yacht, guiding a client on white flats targeting
                        permit.
                    </p>
                </div>
                <hr style=" margin-top: 10%;">
            </div>
        </div>
    </div>
</body>