<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="home.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .main {
            float: left;
            padding: 0 20px;
        }

        .mylink {
            font-size: 1.5vw;
            margin: 3%;
            font-weight: 600;
        }
    </style>
    <title>TJ Jacobs | About</title>
</head>

<body style="font-family:system-ui; 
padding: .4%;">
    <h2 style="font-size:3vw;background-color: gainsboro;padding: 2%;margin-top: 0;"><a class="navitem"
            href="../index.html">Home</a><a class="navitem" style="font-size:3vw;margin-left: 5%;"
            href="./reference.html">References</a> <a class="navitem" style="font-size:3vw;margin-left: 5%;"
            href="./skills.html">Skills</a> <a class="navitem" style="font-size:3vw;margin-left: 5%;"
            href="mailto: tjnjacobs1@gmail.com">Email me</a> <a class="navitem" style="font-size:3vw;margin-left: 5%;"
            href="tel:0791240676">Call
            me</a></h2>

    <div>
        <div style="padding: 2%;">

            <div style=" padding-left: 7%; padding-right: 7%;">
                <table style="font-size:2vw; font-weight: 600;">
                    <tr>
                        <td style="padding-bottom: 3%;">Mobile number : </td>
                        <td style="padding-left: 5%;">+27 79 124 0676</td>
                    </tr>
                    <tr>
                        <td style="padding-bottom: 3%;">Email :</td>
                        <td style="padding-left: 5%;">tjnjacobs1@gmail.com</td>
                    </tr>
                    <tr>
                        <td style="padding-bottom: 3%;">Zoom :</td>
                        <td style="padding-left: 5%;">tjnjacobs1@gmail.com</td>
                    </tr>
                    <tr>
                        <td style="padding-bottom: 3%;">Nationality :</td>
                        <td style="padding-left: 5%;">South African</td>
                    </tr>
                    <tr>
                        <td style="padding-bottom: 3%;">Health :</td>
                        <td style="padding-left: 5%;">110% fit as a horse.</td>
                    </tr>
                    <tr>
                        <td style="padding-bottom: 3%;">Visas :</td>
                        <td style="padding-left: 5%;">None...#</td>
                    </tr>
                    <tr>
                        <td style="padding-bottom: 3%;">Marital status :</td>
                        <td style="padding-left: 5%;">Single</td>
                    </tr>
                    <tr>
                        <td style="padding-bottom: 3%;">Current location :</td>
                        <td style="padding-left: 5%;">South Africa</td>
                    </tr>
                    <tr>
                        <td style="padding-bottom: 3%;">DOB :</td>
                        <td style="padding-left: 5%;">2003/07/15</td>
                    </tr>
                    <tr>
                        <td style="padding-bottom: 3%;">
                            Non-smoker. No tattoos.
                        </td>
                    </tr>
                    
                </table>

            </div>

            <div>
                <hr>
                <h2 style="font-size:3vw;font-weight: 500;text-align: center;">HOBBIES</h2>
                <hr>
                <div style=" padding-left: 7%; padding-right: 7%;">
                    <h3 style="font-size:2.8vw;color: rgb(65, 153, 255); text-align: center;">Fly fishing</h3>
                    <p style="font-size:2.3vw; font-weight: 600;">
                        My go-to hobby is fly fishing. Nothing makes me happier than
                        being on the flats with small waves crashing peacefully and
                        having my fly rod in hand. I enjoy guiding,
                        deckhand and skipper work.
                    </p>
                </div>

                <div style=" padding-left: 7%; padding-right: 7%; padding-top: 2%;">
                    <h3 style=" font-size:2.8vw;color: rgb(65, 153, 255); text-align: center;">Hand crafting</h3>
                    <p style="font-size:2.3vw; font-weight: 600;">
                        I take interest in woodwork and build my
                        own split cane fly rods. I enjoy welding and
                        machining/fabricating precision parts.
                    </p>
                </div>

                <div style=" padding-left: 7%; padding-right: 7%; padding-top: 2%;">
                    <h3 style=" font-size:2.8vw;color: rgb(65, 153, 255); text-align: center;">Film making</h3>
                    <p style="font-size:2.3vw; font-weight: 600;">
                        On any adventure I make good efforts to record my experience. I make amateur
                        films for the <a target="_blank" href="https://www.zyc.co.za/">Zululand Yacht Club</a> based on
                        sailing and community development.
                        <br>Here is a link to my <a target="_blank"
                            href="https://youtube.com/channel/UCvLERCg76Si9EVR_eTS80cg">Youtube videos</a> and <a
                            target="_blank" href="https://www.facebook.com/tj.jacobs.754/">Facebook account</a>.
                    </p>
                </div>
            </div>

            <div>
                <hr style="margin-top: 5%;">
                <h2 style="font-size:3vw;font-weight: 500;text-align: center;">STRONG POINTS</h2>
                <hr>
                <div style=" padding-left: 7%; padding-right: 7%; padding-top: 2%;">
                    <h3 style=" font-size:2.8vw;color: rgb(65, 153, 255); text-align: center;">Honesty</h3>
                    <p style="font-size:2.3vw; font-weight: 600;">
                        I trust the people I surround myself with and stay
                        true to them to the best of my capabilities.
                    </p>
                </div>

                <div style=" padding-left: 7%; padding-right: 7%; padding-top: 2%;">
                    <h3 style=" font-size:2.8vw;color: rgb(65, 153, 255); text-align: center;">Work ethic</h3>
                    <p style="font-size:2.3vw; font-weight: 600;">
                        I execute my work responsibilities
                        with a smile and go the extra mile to
                        satisfy expectations.
                    </p>
                </div>

                <div style=" padding-left: 7%; padding-right: 7%; padding-top: 2%;">
                    <h3 style=" font-size:2.8vw;color: rgb(65, 153, 255); text-align: center;">Presentation</h3>
                    <p style="font-size:2.3vw; font-weight: 600;">
                        I do not drink alcohol or smoke. I have a clean record and I don't use drugs.
                        My physical appearance is always well presentable and formal to the extent of requirements.
                    </p>
                </div>
            </div>

            <div>
                <hr style="margin-top: 5%;">
                <h2 style="font-size:3vw;font-weight: 500;text-align: center;">GOALS</h2>
                <hr>
                <div style=" padding-left: 7%; padding-right: 7%; padding-top: 2%;">
                    <h3 style=" font-size:2.8vw;color: rgb(65, 153, 255); text-align: center;">Long term</h3>
                    <p style="font-size:2.3vw; font-weight: 600;">
                        Within the next 20 years of my life, I want to build a lodge from the ground up. It will be a
                        bucket-list destination in the fly-fishing industry.
                    </p>
                </div>

                <div style=" padding-left: 7%; padding-right: 7%; padding-top: 2%;">
                    <h3 style=" font-size:2.8vw;color: rgb(65, 153, 255); text-align: center;">Short term</h3>
                    <p style="font-size:2.3vw; font-weight: 600;">
                        I aim to secure a permanent position in the tourism industry. This will
                        aid my long-term goal with ample amounts of experience and newly opened doors around the world.
                    </p>
                </div>

                <div style=" padding-left: 7%; padding-right: 7%; padding-top: 2%;">
                    <h3 style=" font-size:2.8vw;color: rgb(65, 153, 255); text-align: center;">Where I see myself in 5
                        years</h3>
                    <p style="font-size:2.3vw; font-weight: 600;">
                        On a skiff launched from a mother ship/superyacht, guiding a client on white flats targeting
                        permit.
                    </p>
                </div>

                <div style=" padding-left: 7%; padding-right: 7%; padding-top: 2%;">
                    <h3 style=" font-size:2.8vw;color: rgb(65, 153, 255); text-align: center;">What I want to achieve in
                        the yachting industry</h3>
                    <p style="font-size:2.3vw; font-weight: 600;">
                        I want to put a firm foot in the door and experience different parts of the world. Eventually
                        with enough hours I aim to work my way up to captain.
                    </p>
                </div>
                <hr style=" margin-top: 10%;margin-bottom: 50%;">
            </div>
        </div>
    </div>
</body>