<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="home.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .main {
            float: left;
            padding: 0 20px;
        }

        .mylink {
            font-size: 1.5vw;
            margin: 3%;
            font-weight: 600;
        }
    </style>
    <title>TJ Jacobs | References</title>
</head>

<body style="font-family:system-ui; 
padding: .4%;
">
    <h2 style="font-size:3vw;background-color: gainsboro;padding: 2%;"><a class="navitem"
            href="../index.html">Home</a><a class="navitem" style="font-size:3vw;margin-left: 5%;"
            href="./about.html">About</a> <a class="navitem" style="font-size:3vw;margin-left: 5%;"
            href="./skills.html">Skills</a> <a class="navitem" style="font-size:3vw;margin-left: 5%;"
            href="mailto: tjnjacobs1@gmail.com">Email me</a> <a class="navitem" style="font-size:3vw;margin-left: 5%;"
            href="tel:0791240676">Call
            me</a></h2>
    <div style=" margin-top: -15px; padding: 3%; text-align: center;">


        <div style="margin-top: 8%;font-size:3vw;">


            <div style="font-size:3vw;margin-top: 8%;">
                <a href="./pages/zyc.html">
                    <h3>Zululand Yacht Club (international)</h3>
                </a>
            </div>
            <div style="font-size:3vw;margin-top: 8%;">
                <a href="./pages/skip.html">
                    <h3>SAMSA Skippers Ticket</h3>
                </a>
            </div>
            <div style="font-size:3vw;margin-top: 8%;">
                <a href="./pages/stcw.html">
                    <h3>STCW</h3>
                </a>
            </div>
            <div style="font-size:3vw;margin-top: 8%;">
                <a href="./pages/pdsd.html">
                    <h3>PDSD</h3>
                </a>
            </div>
            <div style="font-size:3vw;margin-top: 8%;">
                <a href="./pages/aec1.html">
                    <h3>AEC1</h3>
                </a>
            </div>
            <div style="font-size:3vw;margin-top: 8%;">
                <a href="./pages/nma.html">
                    <h3>NMA Medical</h3>
                </a>
            </div>
            <div style="font-size:3vw;margin-top: 8%;margin-bottom: 20%;">
                <a href="./pages/web.html">
                    <h3>Fullstack Web Development</h3>
                </a>
            </div>

           

            <h3>RE Racing - <a target="_blank" href="https://www.facebook.com/reracingrichardsbay/">Facebook</a> or <a
                    target="_blank" href="https://re-racing.co.za/">Website</a> (2014-2022)</h3>
        </div>
        <div style="font-size:3vw;margin-top: 8%;">
            <h3>FishnGo Boat Storage - <a target="_blank" href="https://www.facebook.com/fishngo.co.za/">Facebook</a> or
                <a target="_blank" href="https://fishngo.co.za/">Website</a> (2017-2022)
            </h3>
        </div>
<!-- 
        <div style="font-size:3vw;margin-top: 8%;">

            <h3><a target="_blank" href="https://hsrichardsbaai.co.za/">
                    Richards Bay Highschool</a> - class of 2021</h3>

        </div> -->
    </div>
</body>