<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TJ Jacobs | Skills</title>
</head>

<body style="font-family:system-ui; 
padding: .4%;
">
    <h2 style="font-size:3vw;background-color: gainsboro;padding: 2%;"><a class="navitem"
            href="../index.html">Home</a><a class="navitem" style="font-size:3vw;margin-left: 5%;"
            href="./about.html">About</a> <a class="navitem" style="font-size:3vw;margin-left: 5%;"
            href="./reference.html">References</a> <a class="navitem" style="font-size:3vw;margin-left: 5%;"
            href="mailto: tjnjacobs1@gmail.com">Email me</a> <a class="navitem" style="font-size:3vw;margin-left: 5%;"
            href="tel:0791240676">Call
            me</a></h2>
    <div style=" margin-top: -15px; padding: 3%; text-align: center;">
        <div>
            <h3 style="font-size:3vw;color: rgb(65, 153, 255)">Heavy equipment safety and workmanship</h3>
            <p style="font-size:2.3vw;margin-top: -8px;margin-bottom: 8%; font-weight: 600;">I grew up in an industrial
                workshop where heavy equipment is used for every task. This includes Forklifts, Loaders/dozers,
                excavators, cranes and trucks. With the years of experience working around, on and with these machines
                and equipment I have grown a second nature to always ensure that safety requirements are followed and
                work is executed in such a manner to prevent future incidents.</p>
        </div>
        <div>
            <h3 style="font-size:3vw;color: rgb(65, 153, 255)">Forklift Driving</h3>
            <p style="font-size:2.3vw;margin-top: -8px;margin-bottom: 8%; font-weight: 600;">I have almost-mastered
                transporting and manoeuvring vessels on trailers in confined spaces inside industrial warehouses</p>
        </div>
        <div>
            <h3 style="font-size:3vw;color: rgb(65, 153, 255)">Filming</h3>
            <p style="font-size:2.3vw;margin-top: -8px;margin-bottom: 8%; font-weight: 600;">Amateur photographer and
                film-maker. I use a drone to capture scenes from a distance and enlarge the scope of focused content.
            </p>
        </div>
        <div>
            <h3 style="font-size:3vw;color: rgb(65, 153, 255)">Fishing</h3>
            <p style="font-size:2.3vw;margin-top: -8px;margin-bottom: 8%; font-weight: 600;">A passion yet one of my
                strongest assets. I represented multiple clubs and provinces/states in
                national and inter-club events, consistently staying in the top two for almost seven years until I
                stopped competing in events.</p>
        </div>
        <div>
            <h3 style="font-size:3vw;color: rgb(65, 153, 255)">Boating / skipping</h3>
            <p style="font-size:2.3vw;margin-top: -8px;margin-bottom: 8%; font-weight: 600;">I was raised in the Indian
                Ocean. Here we regularly launch boats under 30ft in rough surf terrains and
                this results in superior experience when navigating / motoring in rough sea conditions.</p>
        </div>
        <div>
            <h3 style="font-size:3vw;color: rgb(65, 153, 255)">Navigation</h3>
            <p style="font-size:2.3vw;margin-top: -8px;margin-bottom: 8%; font-weight: 600;">I thoroughly research and
                plan a voyage before venturing out. Be it scouting beach fronts on skiffs,
                hiking wetlands or horseback alpine trekking in rocky mountain terrain. I have experienced it all at the
                best and at the worse.</p>
        </div>
        <div>
            <h3 style="font-size:3vw;color: rgb(65, 153, 255)">Mechanical workmanship</h3>
            <p style="font-size:2.3vw;margin-top: -8px;margin-bottom: 8%; font-weight: 600;">I grew up in an automotive
                workshop. In the shop, I have been working on suspensions, brake/fuel/cooling
                systems, engines, drive trains, wiring and brackets for as long as I can remember. Our shop is
                recommended as one of the go-to shops for wiring ECUs on vehicles (higher-end ECUs like: Haltech,
                Fueltech, Volvo and Mercedes trucks).</p>
        </div>
        <div>
            <h3 style="font-size:3vw;color: rgb(65, 153, 255)">Welding</h3>
            <p style="font-size:2.3vw;margin-top: -8px;margin-bottom: 8%; font-weight: 600;">I often weld
                stainless and aluminium parts. This involves TIG, Mig and arc welding.</p>
        </div>
        <div>
            <h3 style="font-size:3vw;color: rgb(65, 153, 255)">Machining / Fabricating</h3>
            <p style="font-size:2.3vw;margin-top: -8px;margin-bottom: 8%; font-weight: 600;">I fabricate/machine performance parts (from clip
                on brackets to eccentric shaft spacers on Rotary engines to aluminium fuel cells) for the top-performing oval
                track cars in South Africa and wire their ECUs
                too!</p>
        </div>
        <div>
            <h3 style="font-size:3vw;color: rgb(65, 153, 255)">Logistics</h3>
            <p style="font-size:2.3vw;margin-top: -8px;margin-bottom: 8%; font-weight: 600;">Delivering vessels/cars
                and picking up spares/parts is part of my daily routine.</p>
        </div>

        <div style="margin-bottom: 50%;">
            <h3 style="font-size:3vw;color: rgb(65, 153, 255)">Adapting</h3>
            <p style="font-size:2.3vw; font-weight: 600;"> I am an incredibly fast learner and adapt to any situation in
                a very short amount of time.</p>
        </div>
    </div>
</body>

</html>