<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="pages.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TJ Jacobs | ZYC</title>
</head>
<body style="background-color: rgb(14, 48, 59);font-family:system-ui; 
padding: .4%;">
    <h2><a  class="backbtn" href="../reference.html">Back</a></h2>

    <h3 style="font-size:2vw; color: rgb(229, 229, 229);">
        M.Y. Siren Chief engineer : chiefengineer@mysiren.co.uk / +33 60 127 2168
    </h3>
    <p style="font-size:1.5vw; color: rgb(229, 229, 229);">

        Shipyard / General maintenance as junior engineer building knowledge on different systems.
    </p>
    
    

    
</body>
</html>