<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="pages.css">
    <link rel="stylesheet/css" src="./pages.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TJ Jacobs | STCW</title>
</head>
<body style="background-color: rgb(14, 48, 59);font-family:system-ui; 
padding: .4%;
">
    <h2><a class="backbtn" href="../reference.html">Back</a></h2>

    <div style="    text-align: center;"><h3 style="color: white;">Elementary First Aid (medic lvl 1)</h3>
        <img style="width: 70%;" alt="medic1" src="">
    </div>
    <div style="    text-align: center;"><h3 style="color: white;">Fire Fighting</h3>
        <img style="width: 70%;" alt="firefighting" src="">
    </div>
    <div style="    text-align: center;"><h3 style="color: white;">PST</h3>
        <img style="width: 70%;" alt="pst" src="">
    </div>
    <div style="    text-align: center;"><h3 style="color: white;">PSSR</h3>
        <img style="width: 70%;" alt="pssr" src="">
    </div>
    
</body>
</html>