<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="pages.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TJ Jacobs | ZYC</title>
</head>
<body style="background-color: rgb(14, 48, 59);font-family:system-ui; 
padding: .4%;">
    <h2><a  class="backbtn" href="../reference.html">Back</a></h2>

    <h3 style="font-size:2vw; color: rgb(229, 229, 229);">
        Morgan Smit : morgansmit@yahoo.com / +27 83 236 9564
    </h3>
    <p style="font-size:1.5vw; color: rgb(229, 229, 229);">

        My responsibilities include mechanical and electrical work in engine rooms, exterior and interior
        equipment, rigging and internship fibreglass and laminating work.
    </p>
    
    <br>
    <hr>
    <br>
    <div style="text-align: center;">
        <img style="width: 20%; padding: 3%;    border-radius: 20px;" alt="myfoto" src="./zycphoto/IMG-20220704-WA0000.jpg">
        <img style="width: 20%; padding: 3%;    border-radius: 20px;" alt="myfoto" src="./zycphoto/IMG20220620155109.jpg">
        <img style="width: 20%; padding: 3%;    border-radius: 20px;" alt="myfoto" src="./zycphoto/IMG20220621101601.jpg"><br>
        <img style="width: 20%; padding: 3%;    border-radius: 20px;" alt="myfoto" src="./zycphoto/IMG20220621105724.jpg">
        <img style="width: 20%; padding: 3%;    border-radius: 20px;" alt="myfoto" src="./zycphoto/IMG20220622153221.jpg">
        <img style="width: 20%; padding: 3%;    border-radius: 20px;" alt="myfoto" src="./zycphoto/IMG20220704124229.jpg">
    </div>
    

    
</body>
</html>